.App {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search-section > input {
  width: 30%;
  height: 20px;
  padding: 20px;
  margin-top: 10px;
  font-size: large;
  border: 1px solid rgb(123, 115, 244);
  border-radius: 5px ;
}